/// Inspired by https://www.bronco.co.uk/our-ideas/creating-a-clamp-fallback-function-in-sass-scss/
/// Create clamp rules and fallback for old browser
/// @author Davide Marchet
/// @param {String} $property - Css property name
/// @param {List} $sizes - Clamp values (min scaler max, min scaler max, [...])

@mixin fluid($property, $sizes...) {
  $staticValues: ();
  $minMaxValues: ();
  $clampValues: ();
  @if list.length($sizes) <= 4 {
    @each $size in $sizes {
      $values: ();
  
      @each $value in $size {
        $values: list.append($values, $value, $separator: comma);
      }
      $staticValues: list.append($staticValues, #{list.nth($values, 3)});
      $minMaxValues: list.append($minMaxValues, min(max(#{list.nth($values, 1)}, #{list.nth($values, 2)}), #{list.nth($values, 3)}));
      $clampValues: list.append($clampValues, clamp(#{$values}));
    }
  
    #{$property}: $staticValues;
    #{$property}: $minMaxValues;
    #{$property}: $clampValues;
  }
  @else {
    @error "Sizes must be <= 4";
  }
  
}
