/// Create responsive rules based on queries
/// @author Davide Marchet
/// @param {List} $properties - Key:value list, name is required ('name': 'css property', 'small': value, medium: value, [...])
/// @require react

@mixin resp($properties...) {
  $queriesList: ();

  @each $property in $properties {
      $queries: map-remove($property, 'name');
      @each $brekpoint in map-keys($queries) {
        $queriesList: append($queriesList, $brekpoint, $separator: comma);
      }
  }

  $queriesList: remove-duplicates($queriesList);

  @each $query in $queriesList {
    @include react(#{$query}){
      @each $property in $properties {
        @if map-has-key($property, 'name') {
          @if map-has-key($property, $query) {
            #{map-get($property, 'name')}: #{map-get($property, $query)};
          }
        }
        @else {
          @error "Property 'name' is required.";
        }
      }
    }
  }
}
