
/// Original mixins https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/

@function clamping($minSize, $maxSize, $minLimit, $maxLimit, $sizeUnit: 'rem', $limitUnit: 'rem') {  
  $minSizeRem: rem($minSize);
  $maxSizeRem: rem($maxSize);
  $minLimitRem: rem($minLimit);
  $maxLimitRem: rem($maxLimit);

  $slope: math-div(num($maxSizeRem) - num($minSizeRem), num($minLimitRem) - num($maxLimitRem));
  $intersection: $slope;

  @return $slope;
}