/// Original mixins https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
@function clamping($minSize, $maxSize, $minLimit: null, $maxLimit: null) {  
  $merged: map-merge($defaults_limits, $limits);

  $minSizeRem: rem($minSize);
  $maxSizeRem: rem($maxSize);

  $minLimitRem: rem(map-get($merged, 'min'));
  @if($minLimit){
    $minLimitRem: rem($minLimit);
  }

  $maxLimitRem: rem(map-get($merged, 'max'));
  @if($maxLimit){
    $maxLimitRem: rem($maxLimit);
  }

  $slope: math.div(num($maxSizeRem) - num($minSizeRem), num($maxLimitRem) - num($minLimitRem));
  $intersection: (-1 * num($minLimitRem)) * $slope + num($minSizeRem);

  @return clamp(#{$minSizeRem}, #{rem($intersection)} + #{$slope * 100vw}, #{$maxSizeRem});
}